div{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
    padding-top: 50px;
}